
table {
    width: 100%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-spacing: 0;
}

th,td {
    vertical-align: top;
    padding: 0.25rem;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: (100% / 7);
}

th {
    text-align: center;
    
}

td {
    text-align: left;
    font-size: 80%;

    &.day--current-month {
        background-color: lightgrey;
    }
}


